    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% elsif page.description %}
    <meta property="og:description" content="{{ page.description }}" />
    {% else %}
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
    <meta property="twitter:image" content="{{ site.url }}{{ page.image }}"/>
    {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.avatar }}"/>
    <meta property="twitter:image" content="{{ site.url }}{{ site.avatar }}"/>
    {% endif %}
    <meta property="og:site_name" content="Tensoptly website"/>
